$adjust_height: 70px;

.all-wrapper {
	max-width: 1200px;
	margin: auto;
}

.build-bg {
	position: fixed;
	top: 0;
	left: 0;
	width: 100%;
	height: 100vh;
	background-size: cover;
	background-position: center;
	z-index: -1;
	&:after {
		display: block;
		content: '';
		width: 100%;
		height: 100%;
		top: 0;
		left: 0;
		background-color: #fafafa;
	}
}

section {
	max-width: 450px;
	.mockup-btns, .bottom-box, .top-box, h2 {
		opacity: 1;
		transition: .6s ease;
		transform: translateY(0%);
		pointer-events: visible;
	}
	@media screen and ( max-width: 992px ) {
		max-width: 100%;
	}
}
section.hide {
	.mockup-btns, .bottom-box, .top-box, h2 {
		opacity: 0;
		transform: translateY(5%);
	}
}

.mid, .right, .left {
	width: calc( 33% - 10px );
	margin: 5px;
}

#my_random { display: none; }
// #random { display: none; }
section.mid {
	position: relative;
	@media screen and ( max-width: 992px ){
		margin: 0;
		width: 100%;
		height: auto;
		flex: 0 0 100%;
		pointer-events: none;
		.top-box {
			height: calc( 100vh - 320px );
			margin: 0 0 30px;
		}
		.bottom-box {
			height: auto;
			padding-bottom: 0;
		}
		#random.active {
			display: inline-block;
			font-size: 12px;
		}
		#my_random.active {
			display: inline-block;
			font-size: 12px;
		}
		.zuwatch-btn {
			line-height: 29px;
			height: 29px;
			i { margin-right: 2px; }
		}
		.step-btn {
			width: 30px;
			flex: 0 0 30px;
		}
		#save { display: none; }
		#mockup-back {
			display: block;
		}
	}
}
section.left {
	text-align: left;
	@media screen and ( max-width: 992px ){
		position: absolute;
		width: 100%;
		height: 100vh;
		overflow: auto;
		top: 0;
		left: 0;
		margin: 0;
		z-index: 10;
		background-color: rgba(0,0,0,.9);
		transform: translateX(-100%);
		transition: .3s ease;
		.top-box {
			height: calc( 100vh - 37px )
		}
		&.active {
			transform: translateX(0%);
		}
		#save { display: none }
		#recommend-back {
			display: block;
		}
	}
}
#cart-back, #cart-bigger {
	display: none;
	position: absolute;
	left: 20px;
	width: 30px;
	top: 0px;
	font-size: 15px;
}
#cart-bigger {
	display: block;
	width: 20px;
	height: 20px;
	line-height: 20px;
	color: #fff;
	top: 9px;
	left: 8px;
	background-color: rgba(0,0,0,.3);
	span {
		display: none;
		font-size: 12px;
		font-family: $fontp;
		&.b { display: inline; }
	}
	&.active span.s { display: inline; }
	&.active span.b { display: none; }
	&.active i { 
		transform: rotate(180deg);
		transform-origin: 5px 8px;
	}
}
#recommend-back {
	display: none;
	position: absolute;
	right: 20px;
	width: 30px;
	top: 0px;
	font-size: 15px;	
}
#mockup-back {
	position: absolute;
	bottom: 10px;
	left: 0;
	width: 100%;
	height: 50px;
	line-height: 50px;
	font-size: 40px;
	display: none
}
section.right {
	@media screen and ( max-width: 992px ){
		position: relative;
		top: 0;
		width: 100%;
		right: 0;
		margin: 0px 0;
		#cart-back {
			display: block;
			cursor: pointer;
		}
		#cart-bigger {
			display: none;
		}
		.top-box {
			display: flex;
			flex-direction: column;
			height: auto;
			min-height: 0;
			.elements-content {
				flex: 0 0 auto;
				height: 173px;
				box-shadow: 0 0 0 0 rgba(0,0,0,0);
				overflow-x: auto;
				-webkit-overflow-scrolling: touch;
				.elements-content-box {
					flex-wrap: nowrap;
				}
			}
		}
		.e-c-b-c {
			flex-basis: auto;
			width: 13%;
		}
		#code-and-share {
			position: fixed;
			width: 100%;
			height: 187px;
			top: 0;
			right: 0;
			transform: translate3d(0, -100%, 0);
			transition-delay: 0;
			transition: .4s;
			overflow: hidden;
			&>h2 { margin-top: 0; }
		}
		#code-and-share.active {
			transform: translate3d(0, 0%, 0);
		}
		.bottom-box {
			height: calc( 100% - 37px );
			overflow: auto;
			-webkit-overflow-scrolling: touch;
			.cart-content {
				overflow-x: auto;
				height: auto;
				flex: 0 0 auto;
				flex-wrap: nowrap;
				&.double {
					height: 121px;
					overflow: auto;
				}
				.cart-item {
					flex-basis: auto;
				}
			}
		}
	}
	@media screen and ( max-width: 500px ){
		.e-c-b-c {
			width: 24%;
		}
	}
}

// height: 84px
h2 {
	background-color: $sup;
	color: rgba(0,0,0,.78);
	text-align: center;
	font-size: 13px;
	height: 37px;
	line-height: 37px;
}

#save, #code-and-share {
	h2 { margin-top: 0px; }
}

#save .normal-box:after {
	content: 'You can save your watch stlye here!';
	position: absolute;
	display: inline-block;
	width: 100%;
	padding: 0 5px;
	text-align: center;
	font-size: 13px;
	color: rgba(0,0,0,.3);
	top: 50%;
	left: 50%;
	transform: translate3d(-50%,-50%,0);
}
#save.hidetext .normal-box:after {
	display: none;
}
.normal-box {
	background-color: #fff;
	box-shadow: inset 0 0 0 1px rgba(0,0,0,.1),
							0 1px 2px 0 rgba(0,0,0,.1);
}

.left .top-box {
	// padding: 10px 10px;
	height: calc( 90vh - 106px - 260px - #{$adjust_height} + 70px);
	max-height: 400px;
	overflow: auto;
	@media screen and ( max-width: 992px ) {
		max-height: 100%;
	}
}
.mid .top-box {
	// padding: 10px 10px;
	height: calc( 90vh - 200px);
	max-height: 496px;
	overflow: auto;
	@media screen and ( max-width: 992px ) {
		max-height: 100%;
	}
}
.mid .bottom-box {
	height: auto;
	padding-bottom: 0;
}
.right .top-box {
	//
	height: calc( 90vh - 260px - #{$adjust_height});
	max-height: 437px;
	@media screen and ( max-width: 992px ) {
		max-height: 100%;
	}
}
@media screen and ( min-width: 992px ) {
	.bigger.right .top-box {
		height: calc( 100vh -577px );
		max-height: 288px;
	}
	.bigger.right .bottom-box {
		height: 354px;
		.cart-content {
			height: calc( 400px - 98px );
		}
	}
}
.bottom-box {
	height: calc( 135px + #{$adjust_height} );
	overflow: hidden;
}

.mid .top-box {
	overflow: visible;
}
.mid .top-box::-webkit-scrollbar {
  width: 0;
}

#recommend .top-box {
	align-content: flex-start;
	// background-color: rgba(0,0,0,1);
}

.recommend-style {
	cursor: pointer;
	margin: 0;
	flex: 0 0 100%;
	width: 100%;
	min-width: 150px;
	height: 90px;
	background-image: url('../img/main/bg/index-bg-pro.jpg');
	background-position: center;
	background-size: cover;
	background-repeat: no-repeat;
	display: flex;
	align-items: center;
	justify-content: center;
	opacity: .9;
	i, b {
		color: rgba(255,255,255,.9);
		font-size: 30px;
		line-height: 30px;
		letter-spacing: 1px;
		text-shadow: 0 6px 3px rgba(0,0,0,.7);
	}
	i {
		font-size: 20px;
		margin-left: 5px;
	}
	&:hover {
		opacity: 1;
	}
}

.recommend-random { display: none; }

// mockup
.mockup-btns {
	height: 43px;
	margin-bottom: 8px;
}
.preview-show {
	position: relative;
	margin: 0px 0 33px;
}
.preview-show-body {
	position: relative;
	top: 5%;
	margin: 0 auto;
	width: 90%;
	height: 100%;
	img {
		position: absolute;
		left: 0;
		right: 0;
		margin: auto;
		animation: None 5s linear 0s infinite both;
		transform: translateX(2.8%);
	}
	@media screen and (max-width: 992px) {
		padding-top: 0;
		height: 100%;
		pointer-events: visible;
	}
}
#save .preview-show-body {
	animation: show .5s cubic-bezier(0.25, 0.1, 0.29, 1.66) 0s 1 both;
}
#save .save-box.null {
	display: none;
}
.save-box {
	position: relative;
	display: flex;
	justify-content: center;
	align-items: center;
	height: 120px;
}
@keyframes show {
		0% { opacity: 0; transform: translateY(100%) }
	100% { opacity: 1; transform: translateY(0%)   }
}

img.preview-1 {
	z-index: 2;
	height: 100%;
	width: auto;
	top: 0;
}
img.preview-2 {
	z-index: 3;
	height: 100%;
	width: auto;
	top: 0;
}
img.preview-3 {
	z-index: 1;
	height: 100%;
	width: auto;
	top: 0;
}
div.preview-1, div.preview-2, div.preview-3 {
	position: absolute;
	left: 0;
	right: 0;
	top: 0;
	padding-left: 100%;
	height: 100%;
	margin: auto;
	background-repeat: no-repeat;
	transition: 0s ease-in-out;
}
div.preview-1, div.preview-2, div.preview-3 {
	&.active { transition: 2s ease-in-out; }
}
div.preview-1 {
	z-index: 2;
	background-image: url('../img/main/product/pv-case.png');
}
div.preview-2 {
	z-index: 3;
	background-image: url('../img/main/product/pv-dial.png');
}
div.preview-3 {
	z-index: 1;
	background-image: url('../img/main/product/pv-strap.png');
}

//preview-btns
.preview-btns {
	display: flex;
	justify-content: center;
	align-items: flex-end;
	padding-bottom: 20px;
	cursor: auto;
}
#next {
	transform: rotate3d(0,1,0,180deg);
}

//elements-tabbar
.elements-tabbar {
	width: 100%;
	height: 37px;
	color: rgba(0,0,0,.2);
	.elements-tab-btn {
		height: 37px;
		line-height: 37px;
		font-size: 13px;
		margin: 0;
		width: calc( 100% / 3 );
		flex: 0 0 calc( 100% / 3 );
		background-color: rgba(0,0,0,.1);
	}
}
.elements-tabbar::-webkit-scrollbar {
	width: 0;
}
.elements-tab-btn {
	transition: 0.3s ease;
	b {
		display: inline-block;
		background-color: rgba(0, 0, 0, 0.8);
		color: #fff;
		font-family: $fontp;
		font-size: 12px;
		width: 35px;
		line-height: 20px;
		border-radius: 20px;
		height: 20px;
		margin-left: 5px;
		margin-top: 8px;
		vertical-align: top;
		opacity: .3;
	}
}
.elements-tab-btn:hover {
}
.elements-tab-btn.active {
	color: rgba(0,0,0,.7);
	background-color: rgba(0,0,0,0);
	box-shadow: 0 2px 0 0 $main;
	b { opacity: 1; }
}

.elements-content {
	height: calc( 100% - 37px );
}

.elements-content-box {
	height: 100%;
	overflow: auto;
	display: none;
	background-color: #fff;
	box-shadow: inset 0 0 0 1px rgba(0,0,0,.1);
	align-content: flex-start;
	overflow-y: scroll;
}
.elements-content-box div b {
	margin-top: 4px;
	display: block;
}
b.out {
	color: #D0011B;
}
b.low {
	color: #F6A623;
}
.elements-content-box.active {
	display: flex;
}

.e-c-b-c:hover {
	box-shadow: 0 0 0 2px rgba(0,0,0,.1);
}
.e-c-b-c {
	position: relative;
	border-radius: 5px;
	padding: 2%;
	min-height: 90px;
	box-shadow: 0 0 0 2px rgba(255,255,255,0);
	transition: .2s ease
}
.e-c-b-c span {
	display: inline-block;
	margin-top: 8px;
	font-size: 12px;
	height: 30px;
	letter-spacing: 0;
	font-family: $fontp;
	color: rgba(0,0,0,.65);
}

.element-selected {
	position: absolute;
	width: 15px;
	height: 15px;
	background-color: #fff;
	right: 5px;
	top: 5px;
	border-radius: 8px;
	transition: .3s ease;
	box-shadow: inset 0 0 0 0px #7ED321,
							inset 0 0 0 0px #fff;
}
.element-selected.active {
	background-color: #7ED321;
	box-shadow: inset 0 0 0 2px #7ED321,
							inset 0 0 0 4px #fff;
}

#code-and-share>div {
	padding: 0px 10px;
	font-size: 0;
	h2 {
		background-color: transparent;
		margin-top: 0;
		font-size: 12px;
	}
}

#code-and-share {
	position: relative;
	z-index: 2;
}

.cart-content {
	height: calc( 150px - 37px - 50px + #{$adjust_height} + 49px );
	overflow: auto;
	align-content: flex-start;
	.cart-item {
		position: relative;
		text-align: left;
		padding: 15px 0 0;
		order: -1;
		transition: .3s ease;
		will-change: all;
		@media screen and (max-width: 992px) {
			animation: widthBigger .5s ease 0s 1 both;
			&>img {
				animation: scaleBigger .5s ease 0s 1 both;
			}
		}
	}
	.cart-item.null {
		order: initial;
		animation-name: none;
		&>img {
			animation: none;
		}
	}
	img {
		cursor: pointer;
	}
	img:active {
		transform: translateY(3px);
	}
}

.double .cart-content-set-wrap {
	margin-bottom: 12px;
	position: relative;
	padding-top: 10px;
}

.double .cart-content-set-wrap.active:after {
	content: 'selected';
	font-size: 12px;
	position: absolute;
	left: 0;
	top: 0;
	background-color: #000;
	z-index: 1;
	padding: 2px 5px;
}

.double .cart-content-set-wrap.active {
	background-color: rgba(0, 0, 0, .03);
}

.cart-price-section {
	position: absolute;
	width: 100%;
	left: 0;
	bottom: 0;
	height: 37px;
	line-height: 37px;
	display: flex;
	box-shadow: inset 0 1px 0 0 rgba(0,0,0,.1);
	.total {
		background-color: #fff;
		flex: 0 0 auto;
		width: calc( 100% - 140px );
		font-family: $fontt;
		color: rgba(0, 0, 0, 0.78);
		font-size: 14px;
		text-align: left;
		padding: 0 25px;
		b {
			margin: 0 5px;
		}
	}
}

@keyframes widthBigger {
	0%   { flex-basis: 0; width: 0; opacity: 0;}
	50%  { flex-basis: 80px; width: 80px; opacity: 0; }
	100% { flex-basis: 80px; width: 80px; opacity: 1;}
}
@media screen and (max-width: 992px) {
	@keyframes widthBigger {
		0%   { flex-basis: 0; width: 0; opacity: 0;}
		50%  { flex-basis: 60px; width: 60px; opacity: 0; }
		100% { flex-basis: 60px; width: 60px; opacity: 1;}
	}
}
@keyframes scaleBigger {
	0% { transform: scale3d(0,0,0)}
	50% { transform: scale3d(0,0,0) }
	100% { transform: scale3d(1,1,1)}
}
.cart-content .cart-item img {
	width: 90%;
}

.code-section {
	position: absolute;
	width: 100%;
	height: 100%;
	top: 0;
	left: 0;
	background-color: $sup;
	display: flex;
	justify-content: center;
	align-items: center;
	flex-direction: column;
	border-radius: 15px;
	transition: .3s ease;
	h3 {
		color: rgba(0,0,0,.2);
		font-size: 12px;
		letter-spacing: .5px;
	}
}
.code-section-area {
	background-color: rgba(0,0,0,.05);
	line-height: 40px;
	height: 40px;
	width: 100%;
	padding: 0 10px;
	overflow: auto;
	margin-top: 5px;
	color: $main;
	font-size: 12px;
	text-align: center;
	&::-webkit-scrollbar {
		width: 0;
		height: 0;
	}
}
.code-section-btn-area {
	margin-top: 12px;
}
.code-section-btn-area .btn {
	display: inline-block;
	font-size: 15px;
	width: 100px;
	line-height: 27px;
	border-radius: 15px;
	margin: 0 5px;
}
.code-section-copy {
	background-color: #88CDE4;
}
.code-section-render {
	background-color: #88CDE4;
}
.code-section-copy, .code-section-render {
	position: relative;
	vertical-align: top;
	overflow: hidden;
	&.success:after {
		content: 'Success!';
		position: absolute;
		top: 0;
		left: 0;
		font-size: 15px;
		width: 100px;
		line-height: 27px;
		border-radius: 15px;
		color: #fff;
		background-color: #9DEB92;
		color: #567653;
		z-index: 2;
		animation: sc 1.4s ease 0s 1 both;
	}
}
@keyframes sc {
		0% { transform: translateY(100%) }
 	 20% { transform: translateY(0%) }
 	 80% { transform: translateY(0%) }
 	100% { transform: translateY(-100%) }
}
.code-section-cancel {
	background-color: rgba(0,0,0,.2);
}
.generate-code-section {
	transform: translateX(100%);
	opacity: 0;
	pointer-events: none;
}
.input-code-section {
	transform: translateX(-100%);
	opacity: 0;
	pointer-events: none;
}
.input-code-section.active, .generate-code-section.active {
	transform: translateX(0%);
	opacity: 1;
	pointer-events: visible;
}


#output-popup, #details-popup {
	display: none;
	position: fixed;
	left: 0;
	top: 0;
	width: 100%;
	height: 100vh;
	z-index: 1000;
	margin: 0 auto;
	.close {
		position: absolute;
		left: 0;
		top: 0;
		width: 100%;
		height: 100%;
		background-color: rgba(0,0,0,.7);
		cursor: pointer;
	}
	.content {
		padding: 30px 0;
		position: relative;
		z-index: 2;
		overflow: auto;
		max-height: calc( 100vh - 50px );
		padding-bottom: 100px;
		width: 100%;
		max-width: 500px;
		margin: 50px auto;
		border-radius: 4px;
		box-shadow: 0 15px 35px 0 rgba(0,0,0,.3);
		background-color: #fff;
		.close {
			width: 16px;
			height: 16px;
			right: 10px;
			top: 10px;
			left: auto;
			background-color: transparent;
			color: rgba(0,0,0,.7);
		}
	}
	h2 {
		background-color: transparent;
		box-shadow: 0 1px 0 0 rgba(0,0,0,.1);
	}
}

#code-result {
	display: inline-block;
	padding: 10px;
	overflow: auto;
	font-size: 12px;
	font-family: $fontp;
	margin: 20px auto;
	background-color: rgba(0,0,0,.1);
	color: rgba(0,0,0,.8);
	div { text-align: left; }
}
#code-result-copy {
	width: 120px;
	margin: 0 auto;
	background-color: rgba(0,0,0,.78);
	border-radius: 30px;
	line-height: 30px;
	font-size: 13px;
	font-family: $fontp;
}

/// mobile
#mobile-tools {
	display: none;
	z-index: 2;
	@media screen and (max-width: 992px) {
		display: block;
		position: absolute;
		top: 0;
		left: 0;
		width: 100%;
		height: 41px;
		pointer-events: none;
		div:not(#cart-notification) {
			pointer-events: visible;
			font-size: 22px;
			line-height: 41px;
			width: 13%;
			max-width: 60px;
			text-align: center;
			color: rgba(0,0,0,.8);
		}
		.gobackindex-btn { 
			float: left; 
			font-size: 18px;
		}
		.hotstyle-btn { float: left; }
		.mockup-btn { float: right; }
		.seecart-btn { float: right; }
	}
}

#mockup-area {
	position: fixed;
	display: none;
	left: 0;
	top: 0;
	height: 100vh;
	width: 100%;
	background-color: rgba(0,0,0,.8);
	z-index: 12;
	transform: translate3d(0, 0, 0);
	.wrap {
		font-size: 0;
		position: relative;
		top: 50%;
		transform: translateY(-50%);
	}
	.wrap>img {
		position: relative;
		left: 0;
		top: 0;
		width: 100%;
		z-index: 2;
	}
	.wrap .mockup-woman {
		position: absolute;
	}
	.watch {
		position: absolute;
		top: 15.45vw;
		left: 0;
		right: 0;
		margin: 0 auto;
		width: 20.5%;
		z-index: 1;
		transform: translateX(2.5%);
		padding-top: 37.1%;
		@media screen and (max-width: 850px) {
			top: 24.45vw;
			width: 28.5%;
			padding-top: 57.1%;
			transform: translateX(3.6%);
		}
	}
	.watch img {
		position: relative;
		width: 100%;
	}
	.watch img.ab {
		position: absolute;
		top: 0;
		left: 0;
	}
	.watch img.d { z-index: 3; }
	.watch img.c { z-index: 2; }
	.watch img.s { z-index: 1; }
}

#collection {
	display: none;
	z-index: 30;
	width: 100%;
	position: fixed;
	left: 0;
	top: 0;
	height: 100vh;
	overflow: auto;
	background-color: #f0f0f0;

	.collection-content {
		width: 100%;
		max-width: 1050px;
		padding: 5% 20px;
		margin: 0 auto;
	}

	.item {
		cursor: pointer;

		.img {
			position: relative;
		}

		img:nth-child(2) {
			position: absolute;
			top: 0;
			left: 0;
			opacity: 0;
		}

		.item-info {
			color: rgba(0, 0, 0, .68);
			opacity: 0;
			margin-top: 25px;

			.name {
				font-weight: 800;
			}
		}
	}

	.item:hover .img img:nth-child(2) { opacity: 1 }
	.item:hover .item-info { opacity: 1 }
}

#collection-detail {
	position: fixed;
	display: none;
	left: 0;
	top: 0;
	width: 100%;
	height: 100vh;
	background-color: #f0f0f0;
	z-index: 40;
	overflow: auto;

	.collection-detail-content {
		display: none;
		width: 100%;
		max-width: 800px;
		padding: 5% 20px;
		margin: 0 auto;		

		.item-header {
			display: flex;
			justify-content: center;
			align-items: center;
			width: 100%;
			margin-bottom: 20px;

			@media screen and (max-width: 768px) {
				display: block;
			}

			.item-header-img {
				flex: 0 0 60%;
				width: 60%;
				margin-right: 10px;

				@media screen and (max-width: 768px) {
					width: 100%;
					margin: 0 0 10px 0;
				}
			}

			.item-header-right {
				flex: 0 0 calc( 40% - 10px );
				width: calc( 40% - 10px );

				@media screen and (max-width: 768px) {
					width: 100%;
				}
				
				.title {
					font-size: 17px;
					color: rgba(0,0,0,.8);
					text-align: left;
					margin-bottom: 20px;
					box-shadow: 0 2px 0 0 rgba(255, 255, 255, 1);
					padding-bottom: 20px;
				}

				.price-section {
					display: flex;
					justify-content: center;
					align-items: center;

					.price, .qty {
						width: 50%;
						flex: 0 0 50%;
						color: rgba(0,0,0,.8);
						text-align: right
					}

					.price {
						text-align: left;
					}

					label {
						font-size: 15px;
					}

					select {
						width: 50px;
						padding: 2px 0 2px 10px;
					}
				}
			}
		}
	}

	.collection-call-to-action-btn {
		width: 100%;
		line-height: 40px;
		height: 40px;
		text-align: center;
		margin-top: 40px;
		transition: 0.3s ease;
		background-color: rgba(0, 0, 0, .8);
		color: #fff;
		box-shadow: inset 0 0 0 2px rgba(0, 0, 0, .8);
		opacity: .85;
	}

	.collection-add-to-cart-btn:hover {
		opacity: 1;
	}

	.item-description {
		width: 100%;

		img {
			width: auto!important;
			max-width: 100%!important;
			height: auto!important;
		}
	}
}

.back-to-collection,
.back-to-customize {
	cursor: pointer;
	position: absolute;
	left: 15px;
	top: 10px;
	font-size: 14px;
	line-height: 30px;
	height: 30px;
	text-align: center;
	color: #0A0A0A;
}

#go-to-collection-btn {
	position: absolute;
	cursor: pointer;
	right: 0;
	top: -35px;
	line-height: 30px;
	height: 30px;
	text-align: center;
	width: 100px;
	background-color: #fff;
	font-size: 13px;
	color: rgba(0, 0, 0, 0.9);
	box-shadow: inset 0 0 0 1px rgba(0, 0, 0, 0.1);
	border-radius: 4px;
}