@charset "UTF-8";
// ========= 客製化區 =========
@import 'custom_style/variables'; // 變數
@import 'custom_style/font'; // landing page layout
// ========= base =========
@import 'base/reset'; // doppler reset
@import 'base/dophlex'; // dopplex
// ========= element =========
@import 'element/btn'; // btn & calltoaction
@import 'element/nav';
@import 'index';
@import 'build';
@import 'tw_build';
@import 'collection';

body {
	background-color: $main;
	color: $sup;
	font-family: $fontp;
	font-family: $fontt;
	text-align: center;
	overflow: hidden;
}

body>.content {
	height: calc( 100vh - 101px );
	@media screen and ( max-width: 992px ) {
		height: auto;
		min-height: 0;
	}
}

h1 {
	font-size: 26px;
	color: rgba(255,255,255,.95);
	@media screen and ( max-width: 992px ){
		font-size: 17px;
	}
}

.logo {
	img { width: 100%; }
}

footer {
	font-size: 12px;
	padding: 15px 0;
	font-family: $fontp;
	color: rgba(0,0,0,.2);
	@media screen and ( max-width: 992px ) {
		display: none;
	}
}


.zu-title {
	height: auto;
	padding: 10px 0;
	max-width: 170px;
	width: 90%;
	margin: 0 auto;
}
.zu-title a {
	display: block;
	@media screen and ( max-width: 992px ){
		span  {
			display: none;
		}
		.logo-mobil-black {
			a.zu-title {
				padding: 0;
				width: 100%;
			}
			img {
				width: auto;
				height: 15px;
			}
		}
	}
}
@media screen and ( max-width: 992px ){
	.logo-mobil-black {
		a.zu-title {
			padding: 0;
			span {
				display: block;
				height: 15px;
			}
		}
		img {
			width: auto;
			height: 24px;
			margin-top: 2px;
		}
	}
}

span.subtitle {
	font-size: 12px;
	color: rgba(255,255,255,.7);
	font-family: $fontp;
}

img {
	width: 100%;
}

.total-amount {
	font-weight: 400;
	font-family: $p400;
	b {
		color: #7ED321;
		margin: 0 4px 0 0;
	}
}

.submit-btn {
	padding: 5px 15px;
}

.status-exchange {
	width: calc( 100% + 20px );
	position: relative;
	top: 0;
	left: -10px;
	height: 40px;
	text-align: center;
	display: flex;
	justify-content: flex-start;
	align-items: center;
	
	@media screen and (max-width: 992px) {
		width: 100%;
		left: 0;
	}
}

.cart-status-btn {
	flex: 0 0 calc( 100% / 3 - 30px );
	width: calc( 100% / 3 - 30px );
	margin: 0 15px!important;
	font-size: 12px;
	height: 20px;
	line-height: 20px;
	text-align: center;
	box-shadow: inset 0 0 0 1px rgba(0, 0, 0, 0.35);
	color: rgba(0,0,0,.68);
	border-radius: 3px;
	margin: 0 1%;
	transition: .3s ease;
	font-family: $fontp;
	@media screen and (max-width: 992px) {
		flex: 0 0 calc( 100% / 3 - 10px );
		width: calc( 100% / 3 - 10px );
		margin: 0 5px!important;
	}
}
.cart-status-btn:hover {
	background-color: rgba(0,0,0,.7);
	color: #fff;
}
.cart-status-btn.active {
	background-color: rgba(0,0,0,.7);
	color: #fff;
}

/// css loading
.loading {
	position: absolute;
	width: 100px;
	height: 100px;
	top: 0;
	left: 0;
	right: 0;
	bottom: 0;
	margin: auto;
	letter-spacing: 1px;
}
.sk-cube-grid {
  width: 40px;
  height: 40px;
  margin: 0 auto 20px;
}

.sk-cube-grid .sk-cube {
  width: 33%;
  height: 33%;
  background-color: #fff;
  float: left;
  animation: sk-cubeGridScaleDelay 1.3s infinite ease-in-out; 
}
.sk-cube-grid .sk-cube1 { animation-delay: 0.2s; }
.sk-cube-grid .sk-cube2 { animation-delay: 0.3s; }
.sk-cube-grid .sk-cube3 { animation-delay: 0.4s; }
.sk-cube-grid .sk-cube4 { animation-delay: 0.1s; }
.sk-cube-grid .sk-cube5 { animation-delay: 0.2s; }
.sk-cube-grid .sk-cube6 { animation-delay: 0.3s; }
.sk-cube-grid .sk-cube7 { animation-delay: 0s;   }
.sk-cube-grid .sk-cube8 { animation-delay: 0.1s; }
.sk-cube-grid .sk-cube9 { animation-delay: 0.2s; }

#mobile-double-set-hint {
	display: none;
}
.double #mobile-double-set-hint {
	display: block;
	position: absolute;
	bottom: 40px;
	color: #000;
	pointer-events: none;
	right: 15px;
	text-align: center;
	font-size: 25px;
	animation: bringbring 1s linear 0s infinite;
}

@keyframes bringbring {
	0% { opacity: 0; transform: translateY(-5px) }
	50% { opacity: 0.5; transform: translateY(0px) }
	100% { opacity: 0; transform: translateY(5px) }
}

@keyframes sk-cubeGridScaleDelay {
  0%, 70%, 100% {
    transform: scale3D(1, 1, 1);
  } 35% {
    transform: scale3D(0, 0, 1);
  } 
}